:root {
  --green: #9eb63a;
  --dark-green: #56631e;
  --transparent-green: rgb(158, 182, 58, 0.75);
  --white: #fbfbfb;
  --black: #434343;
  --gray: #f0f2f5;
  --blue: #18202e;
  --light-blue: #29303d;
}

* {
  box-sizing: border-box;
  border: none;
  outline: 0;
  font-family: "Montserrat";
  color: var(--blue);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: var(--white);
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/montserrat/Montserrat-Bold.ttf");
  font-weight: bold;
}
